/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: 'Avenir Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Roman'), url('avenir_roman_12.woff') format('woff');
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* Typografie */

.center{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 80px;
}

.center h1{
    font-family: Avenir black;
    font-size: xx-large;
}

.title{
    padding: 10px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

.title button{
    background-color: white;
    font-size: 50px;
    cursor: pointer;
    border: none;
}

.bestelling {
    display: flex;
    flex-direction: row;
    height: auto;
}

.bestelling h1{
    font-family: Avenir black;
    margin: 0;
    margin-top: 15px;
    color: #001E42;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-radius: 10px;
}

.image{
    width: 150px;
    height: 150px;
    border: solid black 1px;
    border-radius: 10px;
}

.info {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: #001E42;
}

.omschrijving p{
    font-size: large;
}

.prijs {
    width: 20%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prijs p{
    height: auto;
    align-self: end;
    font-size: 30px;
}

.hoeveelheid{
    width: 100%;
    display: flex;
    justify-content: end;
}

.min{
    background-color: #001E42;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.min:hover{
    background-color: #545454;
}

.min h2{
    margin: 0;
}

.aantal h2{
    padding: 10px;
    margin: 0;
}

.plus{
    background-color: #E9444C;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.plus:hover{
    background-color: #E9444C;
}

.plus h2{
    margin: 0;
}

.categorie{
    display: flex;
}

.feature{
    display: flex;
    justify-content: center; 
    border: solid #001E42 1px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #001E42;
}

hr.rounded {
    width: 100%;
    height: 0,5px;
    background-color: #bbb;
    border-radius: 5px;
}

.afronding{
    background-color: white;
    position: fixed;
    border-top: solid black;
    display: flex;
    width: 100%;
    bottom: 0;
}

.totaal{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #001E42;
    font-family: Avenir black;
}

.volgende{
    width: 50%;
    display: flex;
    justify-content: center;
}

.volgende button{
    border: none;
    background-color: #E9444C;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    color: white;
}

.volgende button:hover{
    background-color: #da0000;
    cursor: pointer;
}

.volgende h1{
    margin: 0;
}