/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: 'Avenir Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Roman'), url('avenir_roman_12.woff') format('woff');
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ECEAE9;
}
/* header */
header {
    height: 10vh;
    border-bottom: 1px solid #001E42;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #001E42;
    font-family: Avenir black;
    font-size: 30px;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
}
.main-container h2{
    margin-top: 20px;
    font-family: Avenir Black;
    color: #001E42;
    font-size: 30px;
}
.select-container{
    display: flex; 
    align-items: center;
    justify-content: space-around; 
    width: 100%;
}
.nl, .en{
    width: 45%;
    height: auto;
    /* background-color: #fff; */
    border-radius: 10px;
}
